.DS_Store
/iso/*
!/iso/README.md
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
/images/*
/*.box
/packer_cache/
*.log
*~
/output/
*.webm
tmp
/issues/
*.iso
*.ova
*.ovf
*.output
set_env_vars.ps1
